body{
    color: black;
}
/* #cuantoAvanza {
    width: 100%;
    background-color: grey;
} */

  header{
    padding: auto;
    
    text-align: center;
    /* background-color: rgba(94, 94, 94, 0.75); */
    top: 1%;
    left: 18%;
    margin-bottom: 1%;
    padding: 2%;

  }
  main{
    
    padding: 50px;
    padding-top: 16%;
    
  }
  footer{
    position: relative;
    padding: auto;
    background-color: lightgreen;
    text-align: center;
    top: 90%;
    margin-left: 20%;
    margin-right: 20%;
  }
  #contieneBarra{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    
  }
#barraProgreso {
    position: fixed;
    top: 0;
    left: 0;
    height: 10px;
    background: rgb(2,0,36);
background: linear-gradient(30deg, rgba(2,0,36,1) 0%, rgba(27,82,25,1) 35%, rgba(33,223,26,1) 76%);
    
}


.btn{
    padding: 10px;
}

.ultimo{
    margin-bottom: 2%;
}

.cambiarFondo{
    margin-left: 42%;
}

#textoClicks{
    text-align: center;
}
.hazclick{
    margin-left:40%
}

.flechaArriba{
    position: fixed;
    right: 10%;
    margin-top: 18%;
    color: aliceblue;
    background-color: aqua;
    font-size: xx-large;
    padding: 2%;
    border-radius: 10%;
   
}
.flechaArriba:hover{
    pointer-events: fill;
}